body {
	font-family: 'Exo', sans-serif;
}

.logo {
	font-weight: 300;
	color: #FDC02F;
	font-size: 4rem;
}

.subtitle {
	font-weight: 300;
	color: #FDC02F;
}

.row, .col-xs-6 {
	margin:0;
	padding: 0;
}

.container-fluid{
	padding: 0;
	margin: 0;
}

.splash {
	background-color: #2B2B2B;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-content {
	background-color: #2B2B2B;
	height: 150vh;
}

.hr{
	border: 1px solid #FDC02F;
}

.container-map {
	padding: 0;
}

.map {
	width: 100%;
	height: 150px;
	outline: 1px solid #FDC02F;
	padding: 5px;
}

.search{
	margin-bottom: 1em;
}

/* clases de imagenes */
.photo {
	padding: 5px 3px;
	margin-bottom: 5px;
}

.flip {
	position: relative;
	transition: all 1s ease;
	transform: perspective(600px);
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
}

.flip:hover {
	transform: perspective(500px) rotateY(-180deg) translate(100%);
}

.flip .flip-2 {
	transform: rotateY(-180deg);
}

.flip-1, .flip-2 {
	width: 100%;
	height: 8em;
	border-radius: 5px;
	border-top: 3px solid #FDC02F;
	cursor: pointer;
	backface-visibility: hidden;
}

.flip-1 {
	position: relative;
}

.flip-2 {
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	background-color: #ffffff;
	border-bottom: 4px solid #FDC02F;
}

.type-restaurant {
	color: #2B2B2B;
	position: absolute;
	bottom: 0;
	background-color:rgba(253, 191, 47, 0.8);
	width: 60%;
	font-size: .9em;
}

.none {
	display: none;
}

.bg-modal {
	background-color: #FDC02F;
	border: 1px solid #2B2B2B;
	font-weight: 300;
}

.mapa-modal {
	width: 100%;
}
.bg-name {
	background-color: #2B2B2B;
	color: #FDC02F;
}
.name {
	font-size: 1.5em;
	margin: 0;
	padding: 5px 0;
}

.bg-type {
	border: 1px solid #2B2B2B;
	margin-bottom: 1em;
}

.type {
	margin: 0;
	padding: 5px 0;
}

.icon {
	border: 1px solid #2B2B2B;
	padding: 5px;
	color: #FDC02F;
	background-color: #2B2B2B;
	border-radius: 50%;
	z-index: 1;
	margin-bottom: 8px;
}

.modal-header {
	border-bottom: none;
	padding: 15px 15px 0 15px;
}

.modal-body {
	padding: 5px 15px 15px 15px;
}

.modal-body .row p.inline-block {
	margin-bottom: 1.5em;
}

.modal-hr {
	position: absolute;
	border: .5px solid #2B2B2B;
	width: 90%;
	top: -6px;
	margin-left: 5%; 
}

.btn-modal {
	background-color: transparent;
	border: 1px solid #2B2B2B;
	transition: .5s;
	font-weight: 300;
}

.btn-modal:hover {
	background-color: #2B2B2B;
	color: #FDC02F;
}

